
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh; /*100 % da tela*/
    box-sizing: border-box; /*Para que nenhum elemento sai da página do body*/
    background-color:#0E0D0D; 
   
}



.div_cabecalho{
    background: #d40f0f;
    height:150px;     
    margin-left: 10px;
   
    
}
.div_menu{
    height: 400px;
    width: 300px;
    background: #30d938;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
    
}
.div_menu_opcoes{
    
    /* border: 2px solid #3F3B3B;
     /*background-color: #7222fd; */
    background: #3f3b3b;
    width: 329x;
    height: 56px;
    text-align: justify ;
    border-radius: 16px;
    font-size: 12px;
    padding: 5.5px 0
    text-decoration: none;
    text-decoration: none;    
    font-weight: 400;
    size: 18px;
    line-height: 23.33px;
    color:#FBF8F8;
    font: Mada;
    
    clear: both;
    

    
}

.div_menu_texto{/*formata os quadrados*/
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    display:flex;
    flex-direction: column;
    gap: 8px;
    clear: both;
}


.div_imagem_centro{
    height: 400px;
    width: 90%;
    background: #6e1f6a;
    margin-top: 10px;    
    margin-left: 320px;
    
    
}
.div_menuII{
    height: 400px;
    width: 300px;
    margin-left: 10px;
    background: #3a3a4032;
    float: left;
    margin-top: 10px;
    display: flex; /*para alinhar e distribuir os links*/
    justify-content:space-between; 
    flex-direction: column; 
    text-decoration: none;
    clear: both;    
}
.div_menuII_opcoes{
    background-color: ;
    width:216px ;
    height: 35px;
    text-align: left;
    border-radius: 16px;
    font-size:24px ;
    padding:21.5px 0 ; /*distancia da borda 1º valor horizonta 2º horizontal*/
    text-decoration: none;
    color:#fbf8f8 ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.div_rodape{
    height:150px;
    margin-top: 10px;  
    margin-left: 10px; 
    background:#db5c1d;
    clear:both
    
    


}