
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Mada&family=Poppins:wght@200;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh; /*100 % da tela*/
    box-sizing: border-box; /*Para que nenhum elemento sai da página do body*/
    background-color:#282626; 

   
}



.div_cabecalho{
    background:#3a3a4032;
    height:150px;     
    margin-left: 10px;
    color:#FBF8F8;
    font-family: 'Mada', sans-serif;   
   
    
}
.div_menu{
    height: 400px;
    width: 400px;
    background:#3a3a4032;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
    
}
.div_menu_opcoes{
    
    /* border: 2px solid #3F3B3B;
     /*background-color: #7222fd; */
    background: #3f3b3b;
    width: 329px;
    height: 56px;
    text-align: justify ;
    border-radius: 16px;
    font-size: 12px;
    padding: 5.5px 0
    text-decoration: none;
    text-decoration: none;    
    font-weight: 400;
    size: 18px;
    line-height: 23.33px;
    color:#FBF8F8;
    font-family: 'Mada', sans-serif;    
    clear: both;
    

    
}

.div_menu_texto{/*formata os quadrados*/
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    display:flex;
    flex-direction: column;
    gap: 8px;
    clear: both;
}


.div_imagem_centro{
    height: 400px;
    width: 90%;
    background: #3a3a4032;
    margin-top: 10px;    
    margin-left: 420px;
    color:#FBF8F8;
    font-family: 'Mada', sans-serif;   
    
    
}
.div_menuII{
    height: 400px;
    width: 400px;
    margin-left: 10px;
    background: #3a3a4032;
    float: left;
    margin-top: 10px;
    
}
.div_menuII_quadrados{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    display: flex; /*para alinhar e distribuir os links*/
    justify-content:space-between; 
    flex-direction: column; 
    gap: 15px;  
    
}

.div_menuII_opcoes{
   

    background-color:#3f3b3b ;
    width:329px ;
    height: 10px;   
    text-align:center;   
    border-radius: 16px; /*arredonda a borda do quadrado*/
    font-size:12px ;
    padding:11.5px 0 ; /*distancia da borda 1º valor horizonta 2º horizontal*/
    text-decoration: none;
    color:#fbf8f8 ;
    font-family: 'Mada', sans-serif;    
}


.div_rodape{
    height:150px;
    margin-top: 10px;  
    margin-left: 10px; 
    background:#3a3a4032;
    clear:both
    
    


}