
*{
    margin: 0;
    padding: 0;
}
#0E0D0D

.div_cabecalho{
    background: #3F3B3B;
    height:150px;     
    margin-left: 10px;
   
    
}
.div_menu{
    height: 400px;
    width: 300px;
    background: #30d938;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    
    
}
.div_menu_opcoes{
    
    /* border: 2px solid #3F3B3B;
     /*background-color: #7222fd; */
    background: #3f3b3b;
    width: 329x;
    height: 56px;
    text-align: left;
    border-radius: 16px;
    font-size: 12px;
    padding: 5.5px 0
    text-decoration: none;
    
    font-weight: 400;
    size: 18px;
    line-height: 23.33px;
    color:#FBF8F8;
    font: Mada;
    clear: both;
    

    
}

.div_menu_texto{/*formata os quadrados*/
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    
    display:flex;
    flex-direction: column;
    gap: 8px;
    clear: both;
}


.div_imagem_centro{
    height: 400px;
    width: 90%;
    background: #6e1f6a;
    margin-top: 10px;    
    margin-left: 320px;
    
    
}
.div_menuII{
    height: 500px;
    width: 300px;
    margin-left: 10px;
    background: #5159c9;
    float: left;
    margin-top: 10px;
    
}
.div_rodape{
    height:150px;
    margin-top: 10px;  
    margin-left: 10px; 
    background:#db5c1d;
    clear:both
    
    


}